.button {
    color: #000;
    background: #fff;
    font-weight: var(--bold);
    border-radius: var(--border-radius);
    transition: all var(--transition-duration) ease;
    border: 1px solid var(--border-color);
    cursor: pointer;
    outline: none;
    text-decoration: none;
    position: relative;
}

/* States */

.button.current {background:var(--current);}
.button:focus   {background:var(--focus);}
.button:hover   {background:var(--hover);}
.button:active  {background:var(--active);}

.button:not(.red):not(.green):not(.blue):not(.on-dark) {background-clip:padding-box;}

.button:not(.red):not(.green):not(.blue):not(.on-dark).current,
.button:not(.red):not(.green):not(.blue):not(.on-dark):not([disabled]):focus,
.button:not(.red):not(.green):not(.blue):not(.on-dark):not([disabled]):hover,
.button:not(.red):not(.green):not(.blue):not(.on-dark):not([disabled]):active {border-color:var(--border-color-dark);background-clip:padding-box;}

/* Size */

.button.tiny             {line-height:24px;min-height:24px;min-width:24px;padding:0 12px;font-size:var(--tiny-font-size);}
.button.small            {line-height:30px;min-height:30px;min-width:30px;padding:0 15px;font-size:var(--small-font-size);}
.button.medium           {line-height:36px;min-height:36px;min-width:36px;padding:0 18px;font-size:var(--medium-font-size);}
.button, .button.regular {line-height:42px;min-height:42px;min-width:42px;padding:0 21px;font-size:var(--regular-font-size);}
.button.big              {line-height:48px;min-height:48px;min-width:48px;padding:0 24px;font-size:var(--big-font-size);}
.button.large            {line-height:54px;min-height:54px;min-width:54px;padding:0 27px;font-size:var(--large-font-size);}

/* Misc */

.button.wide {width:100%;}
.button.square {padding:0;}

/* Disabled */

.button[disabled] {opacity:0.6;cursor:default;}

/* Colored */

.button.blue, .button.green, .button.red {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    border-color: var(--border-color-light);
    background-clip: border-box;
}

.button.red                        {background:var(--red);}
.button.red.current                {background:var(--red-current);}
.button.red:focus:not([disabled])  {background:var(--red-focus);}
.button.red:hover:not([disabled])  {background:var(--red-hover);}
.button.red:active:not([disabled]) {background:var(--red-active) !important;}

.button.green                        {background:var(--green);}
.button.green.current                {background:var(--green-current);}
.button.green:focus:not([disabled])  {background:var(--green-focus);}
.button.green:hover:not([disabled])  {background:var(--green-hover);}
.button.green:active:not([disabled]) {background:var(--green-active) !important;}

.button.blue                        {background:var(--blue);}
.button.blue.current                {background:var(--blue-current);}
.button.blue:focus:not([disabled])  {background:var(--blue-focus);}
.button.blue:hover:not([disabled])  {background:var(--blue-hover);}
.button.blue:active:not([disabled]) {background:var(--blue-active) !important;}

/* Outlined */

.button.outlined {background:transparent;}

.button.outlined.red {color:var(--red);border-color:var(--red);}
.button.outlined.red:hover {background:var(--red);}

.button.outlined.green {color:var(--green);border-color:var(--green)}
.button.outlined.green:hover {background:var(--green);}

.button.outlined.blue  {color:var(--blue);border-color:var(--blue)}
.button.outlined.blue:hover {background:var(--blue);}

.button.outlined:focus, .button.outlined:hover, .button.outlined:active, .button.outlined.current {color:#fff}

.button.outlined:focus, .button.outlined:hover, .button.outlined:active, .button.outlined.current {border-color:var(--border-color-light);}

/* On dark */

.button.on-dark, .button.on-dark:focus, .button.on-dark:hover, .button.on-dark:active, .button.on-dark.current {
    border-color: transparent;
    border-top-color: rgba(255,255,255,0.1);
    border-left-color: rgba(255,255,255,0.1);
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

/* Pending */

.button.pending {color:transparent !important;text-shadow:none;}
.button.pending:after {color:#000;content:'...';position:absolute;top:0;left:0;right:0;bottom:0;}
.button.pending.blue:after, .button.pending.green:after, .button.pending.red:after {color:#fff;}
